<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Eadesigndev_AWB::awb" title="PDF Generator" module="Eadesigndev_AWB" sortOrder="10" resource="Eadesigndev_AWB::awb" parent="Eadesigndev_Eacore::eadesign"/>
        <add id="Eadesigndev_AWB::awb_list" title="Manage AWB Index" module="Eadesigndev_AWB" sortOrder="10" parent="Eadesigndev_AWB::awb" action="shipping_awb/index" resource="Eadesigndev_AWB::awb"/>
    </menu>
</config>