<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="shipping_awb" frontName="shipping_awb">
            <module name="Eadesigndev_Awb" before="Magento_Backend"/>
        </route>
        <route id="edit_awb" frontName="edit_awb">
            <module name="Eadesigndev_Awb" before="Magento_Backend"/>
        </route>
    </router>
</config>
